@use './mixin' as *;
@use './variables' as *;
@use './breakpoint' as *;

.header {
    border-bottom: 2px solid $border-bt-color;
    
    &-container {
        @include flex(center, space-between);
        padding: 40px 0;
    }

    &-menu {
        display: flex;
        align-items: center;
        gap: 0 55px;

        &__item {
            position: relative;

            &::after {
                content: "";
                height: 2.5px;
                width: 0;
                background-color: $border-bt-color;
                position: absolute;
                top: calc(100% + 8px);
                left: 0;
                transition: width .2s linear;
            }

            &:hover:after {
                width: 100%;
            }
        }

        &__item a {
            font-size: 1.6rem;
            font-weight: 600;
            color: $txt-color-2;
            text-transform: capitalize;
            transition: all .3s ease-in-out;
        }

        &__close {
            display: none;
        }
    }

    &-tool {
        display: flex;
        align-items: center;
        gap: 70px;
    }
}

// Responsive

@include small-pc-screen {
    .header {
        &-container {
            padding: 20px 0;
        }

        &-tool {
            gap: 50px;
        }
    }
}


@include tablet-screen {
    .header {
        &-menu {
            position: fixed;
            top: 0;
            right: 0;
            flex-direction: column;
            background-color: $bg-menu-color;
            width: 30vw;
            height: 100vh;
            z-index: 1;
            transform: translateX(100%);
            transition: transform .3s linear;

            &.active {
                transform: translateX(0);
            }
           
            &__item {
                margin-top: 50px;

                a {
                    color: $primary-color;
                }

                i {
                    display: none;
                }
            }

            &__close {
                display: unset;
                position: absolute;
                top: 10px;
                right: 10px;
                cursor: pointer;

                &:hover {
                    opacity: .5;
                }
                
                i {
                    font-size: 2rem;
                }
            }
        }

        &-tool {
            gap: 40px;
        }
    }
}


@include mobile-screen {
   
}


