$primary-font: 'Open Sans', sans-serif;
$secondary-font: 'Raleway', sans-serif;

$primary-color: #f66767;
$secondary-color: #f68826;
$txt-color: #a0a8b5;
$txt-color-1: #f65464;
$txt-color-2: #fff;
$txt-color-3: #eee;
$bg-color: #222831;
$bg-color-2: #2b3139;
$bg-color-3: #282f3a;
$bg-color-4: #252b36;
$bg-color-5: #232933;
$bg-menu-color: #fff;
$contact-bg-color-5: #1e242e;
$border-bt-color: #f9a07f;